{{yield}}
{{!-- <div class="text" style={{textStyle}}>
  <p class="placeholder">{{placeholder}}</p>
  <p class="help-text">{{helpText}}</p>
</div>
<input type="file">
 --}}

<div class="text">
  <i class="fa fa-upload" style="font-size:42px;"></i>
  <br>
  <br>
  <p class="placeholder">Upload App Icon</p><br>
  <p class="help-text">( width-240px)</p>
</div>
<div class="fallback">
  <input name="file" type="file"/>
</div>